.pagination{
    margin-top: 100px;
}
.pagination .page-item{
    display: inline-block;
    list-style: none;
}
.pagination .page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00b5b8;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}
.pagination .active .page-link{
    background-color: #404e67;
    border-color: #404e67;
    color: #fff;
}
.pagination .disabled .page-link{
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}